.shroom_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
}

.shroom_data_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shroom_image{
    width: 600px;
    border: 1px solid red;
}

.shroom_data{
    width: 650px;
    border: 1px solid rgb(234, 0, 255);
}