.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1rem;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5em;
}

.item a:hover {
    color: var(--shroom);
}